.renovation {
  float:left;
  width: 400px;
  margin:10px;
  background-color: grey;
}

.before{
  background-color: pink;
}

.during{
  background-color: lightblue;
}

.after{
  background-color: lightgreen;
}

img{
  width: 400px;
  height: 500px;
}
